{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 120,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "quoteProps": "consistent",
  "useTabs": false,
  "proseWrap": "always",
  "htmlWhitespaceSensitivity": "strict",
  "plugins": ["prettier-plugin-tailwindcss"]
}
